.phoneInputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 33px;

    h3 {
        margin-bottom: 13px;
    }
}

.phoneInput {
    width: 100%;
    border: 0;
    margin-bottom: 12px;
    background-color: #86d3f4;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}
